body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1e8b4d, #198754);
}

.title {
  text-align: center;
  color: white;
  padding: 40px 0;
  font-size: 36px;
}

.card-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 60px;
}

/* Card */
.card {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 18px;
  background: #f1f1f1;
}

.card-content h2 {
  margin: 0 0 5px;
}

.card-content h4 {
  margin: 0 0 10px;
  font-style: italic;
  color: #555;
}

.card-content p {
  font-size: 14px;
  color: #333;
}

/* Hover */
.card:hover {
  transform: translateY(-8px);
}

/* Responsive */
@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
